In [1]:
import numpy as np 
import pandas as pd 

data = pd.DataFrame({
  "Name": ["Superman", "Batman", "The Flash"],
  "Age": [25, 30, 35] 
})

data

        Name  Age
0   Superman   25
1     Batman   30
2  The Flash   35

In [2]:
import pandas as pd 

csv_data= """Name,Age,Score
Alice,24,88
Bob,27,75
Charlie,22,95
Diana,29,82
Ethan,26,91
"""
with open("sample_data.csv", "w") as f:
  f.write(csv_data)

data= pd.read_csv("sample_data.csv")

print("First 5 rows:")
print(data.head())

average_score= data["Score"].mean()
print("\nAverage Score:", average_score)

First 5 rows:
      Name  Age  Score
0    Alice   24     88
1      Bob   27     75
2  Charlie   22     95
3    Diana   29     82
4    Ethan   26     91

Average Score: 86.2